@use "variables" as *;


footer {
background-color: $color-primario;
color: white;
text-align: center;
padding: 30px 0;
margin-top: 50px;


h3 {
margin-bottom: 15px;
}


ul {
list-style: none;
padding: 0;
display: flex;
justify-content: center;
gap: 20px;
}


a {
color: white;
text-decoration: none;
font-weight: 500;
transition: color 0.3s ease;


&:hover {
color: $color-secundario;
}
}


.icono-red {
width: 30px;
height: auto;
transition: 0.3s;


&:hover {
transform: scale(1.1);
}
}
}